:root {
  /* Font */
  --ff: 'Poppins', sans-serif;
  /* Colors */
  --red-btn: rgba(247, 29, 120, 0.8);
  --yellow-btn: rgba(230, 244, 38, 0.8);
  --green-btn: rgba(15, 207, 165, 0.8);
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff);
}

main {
  position: relative;
  background: url('img/body-bg.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.calculator {
  padding: 1rem;
  z-index: 10;
  margin: 0 0.75rem;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(8px);
}

.display {
  max-width: 100%;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.5);
}

.display-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.4rem;
}

.display-top a {
  height: 2.5rem;
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.1);
}

.display-top a:hover {
  color: rgba(255, 255, 255, 0.2);
}

.display-top .icon {
  font-size: 1.6rem;
}

.display-bottom {
  height: 3rem;
  font-size: 2.8rem;
  color: var(--white);
  text-align: end;
  padding: 0;
}

.keypad {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.btn {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.btn-operator,
.btn-equals,
.btn-plus-minus {
  color: var(--green-btn);
  font-size: 1.25rem; 
}

.btn-delete {
  color: var(--yellow-btn);
}

.btn-equals {
  grid-column: span 2;
}

.btn-clear {
  color: var(--red-btn);
}

@media (min-width: 767px) {
  .display-top {
    font-size: 1.7rem;
  }

  .display-top .icon {
    font-size: 1.6rem;
  }

  .display-bottom {
    height: 4rem;
    font-size: 3.2rem;
    color: var(--white);
    text-align: end;
    padding: 0;
  }

  .btn {
    font-size: 1.4rem;
    height: 50px;
  }

  .btn-operator,
  .btn-equals,
  .btn-plus-minus {
    font-size: 2rem;
  }
}


